:root {
  --background: #f0f0f0;
  --text-color: #333;
  --item: #fff;
  --shadow: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

body.theme-dark {
  --background: #181818;
  --text-color: #f9f9f9;
  --item: #262626;
  --shadow: rgba(0, 0, 0, 0.4);
}

header {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  color: #666;
  margin: 0rem 1rem 1rem 2.5rem;
}

.theme-toggle-button {
  cursor: pointer;
  width: 120px;
  height: 30px;
  color: var(--text-color);
  border: solid;
  border-radius: 10px;
  border-color: var(--item);
  background-color: var(--item);
  box-shadow: 0 2px 6px var(--shadow);
}

.theme-toggle-button:hover {
  color: var(--text-color);
  background-color: var(--background);
  border: var(--background);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  width: 200px;
  height: 150px;
  padding: 2rem;
  background-color: var(--item);
  border-radius: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card .card-label {
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
}

.card-smiley {
  width: 70px;
  height: 70px;
  background: #ffeb3b;
  border-radius: 50%;
  justify-self: center;
  margin-top: 1rem;
  position: relative;
}

.card-smiley::before,
.card-smiley::after {
  width: 10px;
  height: 10px;
  content: "";
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 46px;
}

.card-smiley::before {
  left: 16px;
}

.card-smiley::after {
  right: 15px;
}

.card-smiley .mouth {
  width: 30px;
  height: 15px;
  border-bottom: 3px solid #000;
  position: relative;
  top: 35px;
  left: 52%;
  transform: translateX(-50%);
  border-radius: 0 0 15px 15px;
}

.card-sun {
  width: 70px;
  height: 70px;
  background: radial-gradient(circle, #ffd700 60%, #ffa500);
  border-radius: 50%;
  justify-self: center;
  margin-top: 1rem;
  animation: rotate 6s linear infinite;
  box-shadow: 0 0 20px 5px #ffd700;
  position: relative;
  top: 25px;
}

.ray {
  position: absolute;
  width: 130px;
  height: 130px;
  right: -28px;
  border-radius: 50%;
  background: repeating-conic-gradient(
    from 0deg,
    #ffd700 0deg 10deg,
    transparent 10deg 20deg
  );
  z-index: 0;
  top: -30px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
