:root {
  --background: #f0f0f0;
  --text-color: #333;
  --item: #fff;
  --shadow: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

body.theme-dark {
  --background: #181818;
  --text-color: #f9f9f9;
  --item: #262626;
  --shadow: rgba(0, 0, 0, 0.4);
}

header {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  color: #666;
  margin: 0rem 1rem 1rem 2.5rem;
}

.theme-toggle-button {
  cursor: pointer;
  width: 120px;
  height: 30px;
  color: var(--text-color);
  border: solid;
  border-radius: 10px;
  border-color: var(--item);
  background-color: var(--item);
  box-shadow: 0 2px 6px var(--shadow);
}

.theme-toggle-button:hover {
  color: var(--text-color);
  background-color: var(--background);
  border: var(--background);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  width: 200px;
  height: 150px;
  padding: 2rem;
  background-color: var(--item);
  border-radius: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card .card-label {
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
}

.card-smiley,
.card-sun,
.card-rainbow,
.card-switch #bulb,
.card-bounce #ball,
.card-alien #head,
.card-ninja #head {
  width: 70px;
  height: 70px;
  justify-self: center;
  margin-top: 1rem !important;
  position: relative;
}

.card-smiley {
  background: #ffeb3b;
  border-radius: 50%;
  margin-top: 2rem !important;
}

.card-smiley::before,
.card-smiley::after {
  width: 10px;
  height: 10px;
  content: "";
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 46px;
}

.card-smiley::before {
  left: 16px;
}

.card-smiley::after {
  right: 15px;
}

.card-smiley .mouth {
  width: 30px;
  height: 15px;
  border-bottom: 3px solid #000;
  position: relative;
  top: 35px;
  left: 52%;
  transform: translateX(-50%);
  border-radius: 0 0 15px 15px;
}

.card-sun {
  background: radial-gradient(circle, #ffd700 60%, #ffa500);
  border-radius: 50%;
  animation: rotate 6s linear infinite;
  box-shadow: 0 0 20px 5px #ffd700;
  top: 25px;
}

.ray {
  position: absolute;
  width: 130px;
  height: 130px;
  right: -28px;
  border-radius: 50%;
  background: repeating-conic-gradient(
    from 0deg,
    #ffd700 0deg 10deg,
    transparent 10deg 20deg
  );
  z-index: 0;
  top: -30px;
}

.card-rainbow {
  overflow: hidden;
  margin: auto;
  width: 1080px;
  height: 540px;
  margin-left: 2rem;
  margin-top: 2rem !important;
}

.card-rainbow > div {
  border-radius: 1080px 1080px 0 0;
}

.card-rainbow #red {
  background-color: red;
  width: 140px;
  height: 70px;
  position: absolute;
}

.card-rainbow #orange {
  background-color: orange;
  width: 120px;
  height: 60px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.card-rainbow #yellow {
  background-color: yellow;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.card-rainbow #green {
  background-color: green;
  width: 80px;
  height: 40px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.card-rainbow #blue {
  background-color: blue;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.card-rainbow #indigo {
  background-color: indigo;
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.card-rainbow #violet {
  background-color: violet;
  width: 20px;
  height: 10px;
  position: absolute;
  left: 60px;
  top: 60px;
}

.card-switch #bulb {
  background: radial-gradient(circle, #e7e7e2 50%, #c4c2b8);
  border-radius: 50%;
  margin-top: 2rem !important;
}

.card-switch #holder {
  border: 8px solid grey;
  width: 30px;
  position: relative;
  bottom: 9px;
  right: -78px;
}

.card-switch #switch-toggle-container {
  background-color: black;
  width: 15px;
  height: 25px;
  position: relative;
  left: 170px;
  bottom: 55px;
  cursor: pointer;
}

.card-switch #switch input[type="checkbox"] {
  display: none;
}

.card-switch #switch-toggle {
  display: none;
}

#switch-toggle:checked + #switch::before {
  transform: translateX(30px);
}

#switch-toggle:checked ~ #bulb {
  background: #ffeb3b;
  box-shadow: 0 0 40px 15px #ffeb3b;
}

.card-bounce #ball {
  width: 25px;
  height: 25px;
  top: 50px;
  right: 90px;
  background-color: rgb(255, 0, 50);
  border-radius: 50%;
}

.card-bounce #surface {
  width: 200px;
  position: relative;
  top: 50px;
  border: 1px solid black;
}

.card-bounce #ball:hover {
  background-color: rgb(255, 30, 80);
  transition: 1s;
  animation-name: ball-move-forward;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.card-alien #head {
  width: 80px;
  height: 120px;
  background: radial-gradient(ellipse at center, #a4ff9c, #5fbf63);
  border-radius: 50% 50% 90% 90% / 60% 60% 100% 100%;
  box-shadow: 0 0 30px #69aa28;
}

.card-alien .eye {
  width: 20px;
  height: 35px;
  background-color: black;
  position: absolute;
  top: 30px !important;
  box-shadow: 0 0 10px #000;
}

.card-alien #left {
  left: 10px;
  top: 30px;
  transform: rotate(-20deg);
  border-radius: 10% 100% 20% 100%;
  animation: blink 2s infinite;
}

.card-alien #right {
  right: 10px;
  top: 30px;
  transform: rotate(20deg);
  border-radius: 100% 10% 100% 20%;
}

.card-alien #mouth {
  width: 40px;
  height: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid black;
  border-radius: 0 0 50% 50%;
  opacity: 0.5;
  animation: smile 2s infinite;
}

.card-alien #mouth .tooth{
  width: 10px;
  height: 15px;
  background: white;
  position: absolute;
}

.card-alien #head:hover {
  animation: nod 3s infinite ease-in-out;
  transform-origin: center top;
  box-shadow: 0 0 30px red;
}

.card-alien #head:hover #left {
  animation: unset;
}

.card-alien #head:hover #mouth {
  animation: unset;
}

.card-alien #head:hover .eye {
  background-color: red;
}

.card-ninja #head {
  width: 90px;
  height: 100px;
  background-color: grey;
  border-radius: 50px;
  z-index: 1;
}

.card-ninja #face {
  position: relative;
  width: 80px;
  top: 25px;
  left: 5px;
  height: 40px;
  border-radius: 50px;
  background-color: burlywood;
}

.card-ninja .left-eye {
  width: 15px;
  height: 15px;
  position: relative;
  background-color: #000;
  border-radius: 50%;
  top: 10px;
  left: 15px;
}

.card-ninja .right-eye {
  width: 15px;
  height: 15px;
  position: relative;
  background-color: #000;
  border-radius: 50%;
  bottom: 4px;
  left: 50px;
}

.card-ninja .mask {
  width: 28px;
  height: 15px;
  position: relative;
  background-color: grey;
  left: 26px;
  top: 0px;
  border-radius: 30%;
}

.card-ninja .top {
  width: 150px;
  height: 50px;
  position: relative;
  background-color: black;
  border-radius: 50% 50% 0% 0%;
  bottom: 15px;
  left: 25px;
}

/***************************
        KEYFRAMES 
***************************/
@keyframes blink {
  0%,
  20%,
  100% {
    height: 35px;
  }
  80% {
    height: 20px;
  }
}

@keyframes smile {
  80% {
    left: 20%;
    transform: rotate(20deg);
  }
}

@keyframes nod {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

@keyframes ball-move-forward {
  0% {
    background-color: rgb(255, 60, 110);
    transform: translate(0, 0);
  }

  25% {
    background-color: rgb(255, 90, 140);
    transform: translate(80px, -30px);
  }

  50% {
    background-color: rgb(255, 120, 170);
    transform: translate(160px, 0);
  }

  75% {
    background-color: rgb(255, 150, 200);
    transform: translateX(80px, -30px);
  }

  100% {
    background-color: rgb(255, 180, 230);
    transform: translate(0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
