body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

body.theme-dark {
  background: #181818;
  color: white;
}

header {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  color: #666;
  margin: 0rem 1rem 1rem 2.5rem;
}

.theme-toggle-button {
  cursor: pointer;
  width: 120px;
  height: 30px;
  color: black;
  border: solid;
  border-radius: 10px;
  border-color: white;
}

.theme-toggle-button:hover {
  color: white;
  background-color: #181818;
}
